<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MeetMe - Resume Website Template</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/bootstrap.min.css" >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/introduct-profile/assets/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="/introduct-profile/assets/img/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/game">
                  game
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#resume">
                  Resume
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  Work
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Chào mọi người tôi là</h5>
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Huynh Vinh</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Junior Back-end Nodejs </p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/vinhvp.huynh/"><i class="icon-social-facebook"></i></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="https://www.instagram.com/huynh9767/"><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/huynh-vinh-2500441ab/"><i class="icon-social-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="google" href="#"><i class="icon-social-google"></i></a>
                  </li>
                </ul>
                <div class="header-button wow fadeInUp" data-wow-delay="1s">
                  <a href="#" class="btn btn-common">Get a Free Quote</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <!-- <img class="img-fluid" src="/introduct-profile/assets/img/about/about-1.jpg" alt=""> -->
              <img class="img-fluid" src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.6435-9/139189930_1540976232773275_2446469927733857766_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=Tly8kBC6zBEAX8I8kQ0&_nc_ht=scontent.fvca1-4.fna&oh=1939d522383350e2e9cca199daa4e055&oe=61473842" alt="">

              <!--  -->
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Xin chào!</h3>
              <p>.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Tên </span> <span class="pro-detail">Nguyễn Huỳnh Vinh</span></li>
                  <li><span class="pro-title"> Tuổi </span> <span class="pro-detail">23 Years</span></li>
                  <li><span class="pro-title"> Kinh nghiệm  </span> <span class="pro-detail">3 Years</span></li>
                  <li><span class="pro-title"> Quê quán </span> <span class="pro-detail">Viet Nam</span></li>
                  <li><span class="pro-title"> Địa chỉ </span> <span class="pro-detail">Binh Thanh HCM</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">huynhvinhdev@gmail.com</span></li>
                  <li><span class="pro-title"> sđt </span> <span class="pro-detail">0826390832</span></li>
                  <li><span class="pro-title"> Freelance </span> <span class="pro-detail"></span></li>
                </ul>
              </div>
              <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Công việc thường làm</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="icon-grid"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Back-end Development</a></h3>
                <p>Tham gia làm với các vị trí code, làm các API, model , đôi lúc làm phần client, review code,đôi khi RD các vấn đề mới cần nghiên cứu, tăng hiệu năng đưa vào sản phẩm</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Design system && Design Database</a></h3>
                <p>Trãi qua kinh nghiệm làm với với công ty start-up, và tham gia làm cho công ty out-soure, tôi may mắn được trãi nghiệm và tham gia thiết kế hệ thống lẫn Database để đem lại 
                  hiệu quả tốt nhất theo các bối cảnh khác nhau cho các sản phẩn công nghệ 
                </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
                <i class="icon-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Teamleader && IT-support</a></h3>
                <p>Từng tham gia quản lý một nhóm code nhỏ  2-3 thành viên.Trước đó làm cho công ty start-up nên tôi có cơ hội làm luôn vị trí IT-support, vì vậy tôi 
                  học được cách giao tiếp tốt hơn với khách hàng, thành viên trong nhóm, vô hình chung giúp cho việc quản lý nhóm tốt hơn </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-bubbles"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Consultancy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Sinh viện Đại học sư phạm kỹ thuật</h3>
                    <span>2016-2020</span>
                    <p class="line-text">Hoàn thành các chương trình học trong trường và tham gia các cuộc thi về lập trình trong trường, nghiên cứu các công nghệ mới và tham gia nghiêm cứu triển khai với mức độ đồ án </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Đạt giả 3 Iot Hutech  tìm kiếm tài năng công nghệ thông tin && Giải nhì nhóm start-up  wheel Hutech</h3>
                    <span>2018</span>
                    <p class="line-text">Tham gia học hỏi và giao lưu với các bạn khác giúp tôi phát triền hơn khả năng tự học, biện luận, giao tiếp.Những cuộc thi 
                      đã giúp tôi có tầm nhìn hơn về một sản phẩm công nghệ, học hỏi nhiều hơn từ đó mở ra cho tôi nhiều mối quan hệ cũng như cơ hội làm việc sau nay
                    </p>
                  </div>
                </li>
                <!-- <li>
                  <div class="content-text">
                    <h3 class="line-title">Secondary School - Labratory High School</h3>
                    <span>8/2020</span>
                    <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">công ty công nghệ OLP</h3>
                    <span>3/2019 - 9/2019</span>
                    <p class="line-text">Tham gia thực tập, và sau 2 tháng trở thành nhân viên chính thức, vị trí </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Công ty công nghệ Trixgo</h3>
                    <span>9/2019 - 8/2021</span>
                    <p class="line-text">Tham gia với vị trí Junior, tôi được tham gia thiết thế hệ thống, database.Làm một sản phẩm từ đầu đến cuối từ 
                      thiết thế hệ thống, database, và làm phần Back-end (full), client(reactJS, và ejs).Tôi thật sự thấy may và biết ơn công ty này vì đã có 
                      hội trãi nghiệm đầy đủ các quy trình quan trọng để tạo ra một sản phẩm công nghệ  
                    </p>
                  </div>
                </li>
                <!-- <li>
                  <div class="content-text">
                    <h3 class="line-title">Secondary School - Labratory High School</h3>
                    <span>8/2020</span>
                    <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My life</h2>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".design">
                Vẽ  
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                Chơi guitar
              </a>
              <a class="filter btn btn-common" data-filter=".print">
                Viết Blog 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/introduct-profile/assets/img/gallery/img-1.jpg" alt="" />  
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/introduct-profile/assets/img/gallery/img-1.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/introduct-profile/assets/img/gallery/img-2.jpg" alt=""/> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/introduct-profile/assets/img/gallery/img-2.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/introduct-profile/assets/img/avatablog1.jpeg" alt=""/> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/introduct-profile/assets/img/avatablog1.jpeg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/introduct-profile/assets/img/gallery/img-4.jpg" alt="" /> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/introduct-profile/assets/img/gallery/img-4.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="/introduct-profile/assets/img/gallery/img-5.jpg" alt="" /> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="/introduct-profile/assets/img/gallery/img-5.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="https://external.fvca1-3.fna.fbcdn.net/safe_image.php?d=AQEVWHLkjFy1Pwr0&w=1000&h=522&url=https%3A%2F%2Fviblo.asia%2Fog-facebook-3.png&cfs=1&ext=jpg&_nc_oe=6e889&ccb=3-5&_nc_hash=AQG3ZzZtCPylY2JZ" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="https://external.fvca1-3.fna.fbcdn.net/safe_image.php?d=AQEVWHLkjFy1Pwr0&w=1000&h=522&url=https%3A%2F%2Fviblo.asia%2Fog-facebook-3.png&cfs=1&ext=jpg&_nc_oe=6e889&ccb=3-5&_nc_hash=AQG3ZzZtCPylY2JZ">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://viblo.asia/p/it-noi-khong-trong-cong-viec-lieu-co-tot-khong-Az45byOqlxY">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>  
                          
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="https://external.fvca1-3.fna.fbcdn.net/safe_image.php?d=AQF7HKjwZz5Bftuv&w=825&h=430&url=https%3A%2F%2Fimages.viblo.asia%2F7f21a5c4-5985-42d4-8bfb-650eac2d0950.jpeg&cfs=1&ext=jpg&_nc_oe=6e888&ccb=3-5&_nc_hash=AQElXSYlMFiV4shx" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="https://external.fvca1-3.fna.fbcdn.net/safe_image.php?d=AQF7HKjwZz5Bftuv&w=825&h=430&url=https%3A%2F%2Fimages.viblo.asia%2F7f21a5c4-5985-42d4-8bfb-650eac2d0950.jpeg&cfs=1&ext=jpg&_nc_oe=6e888&ccb=3-5&_nc_hash=AQElXSYlMFiV4shx">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://viblo.asia/p/minh-tu-hoc-lap-trinh-tu-con-so-0-nhu-the-nao-GrLZD1mElk0?fbclid=IwAR09dZCqqC7xUq5aIvKbODgDTw1AlKyTbnwKeMGSe5w3JYM8pk6iIINOc0E">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>  
                          
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="https://external.fvca1-3.fna.fbcdn.net/safe_image.php?d=AQHkkXa1MNHCrOfO&w=825&h=430&url=https%3A%2F%2Fimages.viblo.asia%2Fc731f058-34df-4133-9c7c-5d527f48bcb5.png&cfs=1&ext=jpg&_nc_oe=6e888&ccb=3-5&_nc_hash=AQFlEnGfJPiFNGWZ" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="https://external.fvca1-3.fna.fbcdn.net/safe_image.php?d=AQHkkXa1MNHCrOfO&w=825&h=430&url=https%3A%2F%2Fimages.viblo.asia%2Fc731f058-34df-4133-9c7c-5d527f48bcb5.png&cfs=1&ext=jpg&_nc_oe=6e888&ccb=3-5&_nc_hash=AQFlEnGfJPiFNGWZ">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://viblo.asia/p/chong-covid-cung-neo4j-Do75431elM6">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>                 
              </div>
            </div>

          </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon"><i class="icon-briefcase"></i></div>
              <div class="counterUp">250</div>
              <p>Project Working</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="counterUp">950</div>
              <p>Project Done</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon"><i class="icon-diamond"></i></div>
              <div class="counterUp">150</div>
              <p>Awards Received</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon"><i class="icon-heart"></i></div>
              <div class="counterUp">299</div>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="contact-block">
                <h2>Contact Form</h2>
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>San Francisco, CA</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:hello@tom.com">hello@tom.com</a></p>
                    <p><a href="mailto:tomsaulnier@gmail.com">tomsaulnier@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+ (00) 123 456 789</a></p>
                    <p><a href="#">+ (00) 123 344 789</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34015.943594576835!2d-106.43242624069771!3d31.677719472407432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e75d90e99d597b%3A0x6cd3eb9a9fcd23f1!2sCourtyard+by+Marriott+Ciudad+Juarez!5e0!3m2!1sen!2sbd!4v1533791187584"></object>
            </div>
          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                <li>
                  <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                </li>
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/introduct-profile/assets/js/jquery-min.js"></script>
    <script src="/introduct-profile/assets/js/popper.min.js"></script>
    <script src="/introduct-profile/assets/js/bootstrap.min.js"></script>
    <script src="/introduct-profile/assets/js/jquery.mixitup.js"></script>
    <script src="/introduct-profile/assets/js/jquery.counterup.min.js"></script>
    <script src="/introduct-profile/assets/js/waypoints.min.js"></script>
    <script src="/introduct-profile/assets/js/wow.js"></script>
    <script src="/introduct-profile/assets/js/jquery.nav.js"></script>
    <script src="/introduct-profile/assets/js/jquery.easing.min.js"></script>  
    <script src="/introduct-profile/assets/js/nivo-lightbox.js"></script>
    <script src="/introduct-profile/assets/js/jquery.slicknav.js"></script>
    <script src="/introduct-profile/assets/js/main.js"></script>
    <script src="/introduct-profile/assets/js/form-validator.min.js"></script>
    <script src="/introduct-profile/assets/js/contact-form-script.min.js"></script>
    <script src="/introduct-profile/assets/js/map.js"></script>
      
  </body>
</html>
